html, body {
  height:100%;
  margin:0;
}

#plot {
  width:100%;
  height:100%;
}

#my-plot-container {
  width:100%;
  height:calc(90%);
  position:fixed;
  bottom: 4%;
}

#main {
  display:flex;
  /* align-items:center; */
  /* justify-content: center; */
  flex-flow:column;
  height:100%;
  overflow:auto;
  position:relative;
}

#bar {
  background-color: #eee;
  /* flex: 0 1; */
  position:absolute;
  top:0;
  /* height:6%; */
  width:100%;
  height:6%;
  text-align:center;
  display:flex;
  flex-flow:row;
  /* justify-content:center; */
  /* align-items:center; */
  padding-top:3px;
  padding-bottom:3px;
  padding-left:3px;
}

#settings-button {
  background-color:#6c757d;
  font-size:min(10vw, 14px);
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  /* height:100%; */
  box-sizing:border-box;
  margin-top:0;
  margin-bottom:0;
  padding:0;
  margin-top:auto;
  margin-bottom:auto;
  /* padding-left:1vw; */
  /* padding-right:1vw; */

}

#settings {
  width:calc(100% - 8px);
  border-radius:5px;
  border:2px solid rgb(178,209,242);
  background-color:#fafafa  ;
  position:fixed;
  margin-left:4px;
  margin-top:4px;
  /* margin-right:auto; */
  /* left:3px; */
  /* right:3px; */
  top:6%;
  z-index:1;
  /* margin:4px; */
  opacity:0.95;
  padding:3px;
}

.setting {
  /* border:1px solid #737c84; */
  /* border-radius:3px; */
  margin:10px;

}

.season {
  padding:3px;
  /* margin-bottom:0.5px; */
  /* border-top:1px solid #737c8450; */
  /* background-color:white; */
  color:#333;
  text-align:center;
  cursor:pointer;
  border:0.2px solid #cccccc66
}



.setting-label {
  background-color: #737c84;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  width:100%;
  color: #e9eaeb;
  padding:5px;
  text-align:center;
}

.setting-content {
  display:flex;
  align-items:stretch;
  justify-content:space-between;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
  border:0.5px solid #737c84;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}

#mode-list{
  display:flex;
  flex-flow:column;
  align-items:stretch;
  justify-content:space-between;
}

.my-button {
  font-size:min(16px, 2vw);
}

#word-entry-row {
  /* max-width:min(20%, 120px); */
  display:none;
  /* margin-left:0 */
}

.word-entry {
  /* width:10px; */
  border-radius:4px;
}

#box {
  margin-right:2px;
}

#footer {
  position:fixed;
  bottom:0;
  height:4%;
  background-color: #fefefe;
  width:100%;
  font-size:min(4vw, 12px);
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
}

#exit-button {
  position:absolute;
  top:0;
  right:0;
  color:#737c84;
  padding:6px;
  z-index:1;
  font-size:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:rgb(178,209,242);
  border-left:1px solid #fafafa;
  border-bottom:1px solid #fafafa;
  cursor:pointer;
  border-bottom-left-radius:3px;

}
